@model RunnersTracker.Business.DTO.ReportDTO

@{
    ViewBag.Title = "Reports - Runner's Tracker";
}

<div class="row">
    <div class="small-12 large-12 columns">
        <h2 style="text-align:center;">Reports</h2>
    </div>
</div>
<div style="padding-top:10px;" class="small-6 small-centered columns panel">

    </div>