@{
    ViewBag.Title = "Runner's Tracker - Sign Up Complete";
    ViewBag.Register = "active";
}

<div class="row">
    <div class="small-12 large-12 columns">
        <h2 style="text-align:center;">Sign up complete!</h2>
    </div>
</div>

<div class="row">
    <div class="small-12 large-12 columns">
        <p style="text-align:center;">Registration is complete.  Please check your email to confirm your account before logging in.</p>
    </div>
</div>
