@{
    ViewBag.Title = "About";
}



<div class="row">
    <div class="small-8 small-centered columns">
        <h2 style="text-align:center;">About Runner's Tracker</h2>
        <p>
           Runner's Tracker is designed to be a fast and easily accessible running log.  It also is helping me learn some new languages and technologies (primarily the Microsoft Stack).
           As this is a hobby project, I'm trying to make steady progress as time allows.  Please feel free to contact me with suggestions or comments. 
        </p>        
    </div>
</div>
