@{
    ViewBag.Title = "ContactUsComplete";
}

<div class="row">
    <div class="small-8 small-centered columns">
        <h2 style="text-align:center;">Comments Sent Successfully!</h2>                
    </div>
</div>
