@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="small-6 large-6 columns">
        Welcome to Runner's tracker.
    </div>
    <div class="small-6 large-6 columns">
       Login form will go here.
    </div>
</div>


@DateTime.Now.ToString()
