<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <link rel="stylesheet" href="/Content/css/normalize.css" />
    <link rel="stylesheet" href="/Content/css/foundation.min.css" />

    <script src="/Content/js/vendor/custom.modernizr.js"></script>
</head>
<body>
    <div class="row">
        <div class="small-12 large-12 columns">
            <h1 style="text-align:center;">Runner's Tracker</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns">
            <div class="contain-to-grid">
                <nav class="top-bar">
                    <section class="top-bar-section">
                        <ul class="left">
                            <li class="active">
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/register">Sign up!</a>
                            </li>
                            <li>
                                <a href="/login">Login</a>
                            </li>
                            <li>
                                <a href="/contactus">Contact Us</a>
                            </li>
                            <li>
                                <a href="/about">About</a>
                            </li>
                        </ul>
                    </section>
                </nav>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 large-12 columns">
            @RenderBody()
        </div>
    </div>   

    <script>
        document.write('<script src=' +
        ('__proto__' in {} ? 'Content/js/vendor/zepto' : 'Content/js/vendor/jquery') +
        '.js><\/script>')
    </script>
    <script src="/Content/js/foundation/foundation.js"></script>
    <script src="/Content/js/foundation/foundation.alerts.js"></script>
    <script src="/Content/js/foundation/foundation.clearing.js"></script>
    <script src="/Content/js/foundation/foundation.cookie.js"></script>
    <script src="/Content/js/foundation/foundation.dropdown.js"></script>
    <script src="/Content/js/foundation/foundation.forms.js"></script>
    <script src="/Content/js/foundation/foundation.joyride.js"></script>
    <script src="/Content/js/foundation/foundation.magellan.js"></script>
    <script src="/Content/js/foundation/foundation.orbit.js"></script>
    <script src="/Content/js/foundation/foundation.placeholder.js"></script>
    <script src="/Content/js/foundation/foundation.reveal.js"></script>
    <script src="/Content/js/foundation/foundation.section.js"></script>
    <script src="/Content/js/foundation/foundation.tooltips.js"></script>
    <script src="/Content/js/foundation/foundation.topbar.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>
